* {
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei;
    list-style: none;
}

html, body {
    /* background-color: #343a40; */
    background-color: #e9ecef;
    color: #404040;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    color: #404040;
    background-image: linear-gradient(#2a9d8f, #5d9b92);
}

header .container {
    display: flex;
    align-items: center;
    margin: auto;
}

header .container #logo {
    width: 7%;
}

header .container #logo img{
    width: 100%;
    vertical-align: middle;
}

header .container .header_nav {
    margin: auto;
}

header .container .header_nav a {
    text-decoration: none;
    color: #fff;
    font-size: 120%;
    padding: 0px 1em;
    position: relative;
}

header .container .header_nav a:after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 0;
    border-bottom: 1px solid #fff;
    transition: 0.3s;
}

header .container .header_nav a:hover:after {
    left: 0;
    right: 0;
}

header .container #search_bar {
    display: flex;
    padding: 0px 5%;
}

header .container #search_bar input,
header .container #search_bar button {
    border: none;
    background-color: #fff;
    padding: 2% 2%;
}

header .container #search_bar input:focus,
header .container #search_bar button:focus {
    outline: none;
}

header .container #search_bar button {
    border-radius: 0 100px 100px 0;
    background-color: goldenrod;
}

header .container #search_bar input {
    border-radius: 100px 0 0 100px;
}

header .container #burger {
    padding: 0 1%;
}

#content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

#side_menu {
    width: 15%;
    height: 100%;
    right: 0%;
    display: flex;
    flex-direction: column;
    background-color: #49d59f;
    box-shadow: -5px 0 3px hsla(177, 71%, 27%, 0.5);
    box-sizing: border-box;
    transform: translateX(120%);
    transition: 0.3s;
}

#side_menu.active {
    transform: translateX(0);
}

#side_menu #user_info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom-style: dotted;
	border-bottom-color: rgba(0, 0, 0, 0.626); 
}

#side_menu #user_info i {
    font-size: 150%;
}

#side_menu nav a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 100%;
}

#side_menu nav a + a::before {
    content: "";
    position: absolute;
    border-top: 1px solid #fff;
    left: 10px;
    right: 10px;
    top: 0;
}

#side_menu nav a:hover {
    font-size: 120%;
}

.description {
    background-color: #30363c;
}

#burger:hover {
    transform: scale(1.2);
}

.swiper {
    width: 30%;
    height: 50%;
}

.swiper-slide {
    display: flex;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}