* {
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei;
    list-style: none;
}

body {
    height: 100%;
}

header {
    position: relative;
    width: 100%;
    color: #fff;
    background-color: rgb(0, 115, 255);
    padding: 10px;
}

header #logo {
    position: relative;
    display: flex;
    align-content: center;
}

header #logo img {
    width: 50px;
}

header #logo #logo_text {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

header #logo #logo_text .major{
    position: relative;
    font-size: 20px;
    font-weight: 500;
}

header #logo #logo_text .minor{
    position: relative;
    font-size: 14px;
    font-weight: 500;
}

.Taiwan {
    width: min(500px, 100%);
    height: auto;
}

.Taiwan path:hover {
    transition: .3s;
    fill: gold;
}

.selectedLocation {
    transition: .3s;
    fill: rgb(13, 74, 230) !important;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

#info-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

#info-cards .info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 5px;
}

#info-cards .info-card .time-title {
    font-size: 20px;
}

#info-cards .info-card .weatherIcon {
    width: 60px;
    height: 60px;
}

.popDiv {
    display: flex;
    position: relative;
    width: 100%;
}

.popDiv .column:nth-child(1) {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: end;
}

.popDiv .column:nth-child(2) {
    flex: 1;
    position: relative;
}

.popDiv .column .popIcon {
    height: 100%;
    position: absolute;
}

@media screen and (max-width: 800px) {

.Taiwan {
    display: none;
}

#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
}

}