* {
    padding: 0;
    margin: 0;
}

header {
    padding: 8px;
    border-bottom: 3px #000 solid;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

html {
    position: relative;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-rows: min-content auto;
}

.main {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: 1fr;
}

.outline {
    border-right: 1px #000 solid;
    display: grid;
    grid-template-columns: 0 min-content;
}

.outline.expanded {
    grid-template-columns: 300px min-content;
}

.outline .expand-btn {
    background-color: transparent;
    border: none;
    display: block;
    margin: auto;
    min-width: 32px;
    min-height: 32px;
    cursor: pointer;
}

.outline .outline-wrap {
    position: relative;
    overflow-x: hidden;
}

.outline .outline-list-body {
    box-sizing: border-box;
    position: absolute;
    overflow-x: hidden;
    max-width: 100%;
    padding: 8px;
}

.outline .outline-list-body a {
    display: block;
    cursor: pointer;
}

.outline .outline-list-body a:hover {
    background-color: #f1eeee;
}

.outline .outline-list-body li > li {
    margin-left: 20px;
}

.outline .expand-btn:hover {
    background-color: #dcdcdc;
}

.viewer-wrap {
    position: relative;
}

.tool-bar {
    width: 32px;
    border-left: 1px #000 solid;
}

.viewer-wrap .markdown-previewer-body {
    position: absolute;
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding-left: 80px;
    padding-right: 80px;
}