#board #board_title {
    background-image: url("../img/wood_texture.jpg");
}

#labels {
    display: flex;
    justify-content: space-around;
    background-image: url("../img/wood_texture.jpg");
    background-size: cover;
}

#labels .labels_item {
    position: relative;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
}

#labels .labels_item:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#labels .labels_item #label_title {
    border-bottom: 1px solid #000;
    text-align: center;
    width: 100%;
}

#labels .labels_item #label_content {
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 2px;/*去掉border(微軟正黑)造成的1px白邊*/
}

#labels .labels_item #label_img {
    display: block;
    border: none;
    max-width: 100%;
    margin: auto;
    /* max-height: 100%; */
}