#labels {
    display: flex;
    justify-content: space-around;
}

#labels .labels_item {
    position: relative;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
}

#labels .labels_item:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#labels .labels_item #label_title {
    border-bottom: 1px solid #000;
    text-align: center;
    width: 100%;
}

#labels .labels_item #label_content {
    text-align: center;
    padding: 1px;/*去掉border(微軟正黑)造成的1px白邊*/
}