@font-face {
    font-family: "zpix";
    src: url("../../font/zpix.woff2") format("woff2");
}

#main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#board {
    /* background-image: url("../img/board.jpeg"); */
    background-color: #e5bc81;
    border: 10px solid #99582a;
    /* background-size: cover; */
}

#board #board_title p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#labels {
    display: flex;
    justify-content: space-around;
    /* background-image: url("../img/wood_texture.jpg");
    background-size: cover; */
}

#labels .labels_item {
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000; */
    box-shadow: 0 0 0 1px #000; /*代替border*/
    background-clip: border-box;
    /* align-items: center; */
    justify-content: space-between;
    background-color: #ffe6a7;
    /* background-image: url("../img/old_paper.jpg");
    background-size: cover; */
    transition: 0.3s;
}

#labels .labels_item:hover {
    box-shadow: 0 0 0 3px rgba(43, 45, 66, 0.8);
    cursor: pointer;
}

#labels .labels_item .label_title {
    position: relative;
    border-bottom: 1px solid #000;
    text-align: center;
    background-clip: border-box;
    display: inline;
    font-weight: bold;
}

#labels .labels_item .label_title .pushpin {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

#labels .labels_item .label_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*因為取column, 所以變直的*/
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    /* padding: 2px;去掉border(微軟正黑)造成的1px白邊 */
}

#labels .labels_item .label_content .label_img_wrap {
    position: relative;
    display: flex;
    max-width: 100%;
    padding-bottom: 100%; /*參考width成正方形*/
}

#labels .labels_item .label_content .label_img_wrap .label_img {
    position: absolute;
    border: none;
    box-sizing: border-box;
    max-width: 100%;
}

#board .bnt_group {
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 5px;
    justify-content: space-around;
}

#board .bnt_group button {
    width: 40px;
}

#swiper_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#swiper_container #swiper_label_data {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
}

#swiper_container #swiper_label_data #swiper_container_title {
    font-size: 0; /*去白邊*/
}

#swiper_container #swiper_label_data #swiper_container_title p {
    display: inline;
    padding: 0 5px 0 5px;
    font-family: "zpix";
    font-size: 16px;
    background-color: #e69358;
    border-bottom: 5px solid #99582a;
    /* font-weight: bolder; */
}

#swiper_container #swiper_label_data #swiper_container_link {
    margin-top: 5px; /*將上方的font-size = 0 的 5px border補回來*/
}

#swiper_container #swiper_label_data #swiper_container_link a {
    position: relative;
    text-decoration: none;
    color: #000;
    padding-top: 2px;
}

#swiper_label_data #swiper_container_lang {
    display: inline;
    border-collapse: collapse;
}

#swiper_label_data #swiper_container_lang thead {
    background-color: #14213d;
    color: #fff;
}

#swiper_label_data #swiper_container_lang thead th {
    padding: 5px;
    border: 1px solid #000;
}

#swiper_label_data #swiper_container_lang tbody tr:nth-child(even) {
    padding: 5px;
    border: 1px solid #000;
    background-color: #8d99ae;
}

#swiper_label_data #swiper_container_lang tbody tr:nth-child(odd) {
    padding: 5px;
    border: 1px solid #000;
    background-color: #edf2f4;
}

#swiper_label_data #swiper_container_lang td {
    padding: 5px;
    border: 1px solid #000;
}

#swiper_container_description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #14213d; */
    width: 50%
}

#swiper_container_description .scroll {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    /* background-color: #ffe6a7; */
}

#swiper_container_description .scroll .scroll-left, .scroll-right {
    position: relative;
    width: 5%;
    height: 50%;
    background-color: #99582a;
    box-shadow: inset 0 0 0 1px #000;
}

#swiper_container_description .scroll .scroll-middle {
    position: relative;
    width: 90%;
    height: 100%;
    background-color: #ffe6a7;
    box-shadow: inset 0 0 0 1px #000;
}

#swiper_container_description .scroll-body {
    position: relative;
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    width: 90%;
    height: 0;
    background-color: #ffe6a7;
    box-shadow: inset 0 0 0 1px #000;
    transition: 0.3s;
}

#swiper_container_description .scroll-body.active {
    height: 100%;
}

#swiper_container_description .scroll-body .scroll-body-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 10px solid #ffe6a7;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-y: auto;
}

#swiper_container_description .scroll-body .scroll-body-wrap .scroll-body-content {
    position: absolute;
}

#cat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* right: 0; */
    /* margin-bottom: 0; */
    width: 20%;
    height: 100%;
}

#cat #cat_said {
    position: relative;
}

#cat #cat_said #cat_said_content {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 5px;
    font-family: "zpix";
    background-color: #94d2bd;
    border-radius: 10px 10px 10px 10px;
}

#cat #cat_said #cat_said_content p {
    font-family: "zpix";
}

#cat #cat_said #triangle {
    /* 三角形 */
    content: "";
    width: 0;
    height: 0;
    position: relative;
    border: 8px solid;
    margin-left: 10%;
    border-color: #94d2bd transparent transparent;
}

#cat img {
    display: block;
    max-width: 100%;
}

@media screen and (max-width: 580px) {
    #swiper_container #swiper_label_data #swiper_container_title p {
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    #labels .labels_item:nth-child(3) {
        display: none;
    }

    #swiper_container #swiper_label_data #swiper_container_title p {
        writing-mode: vertical-rl;
    }
}