<div class = "container">
    <div id = "logo">
        <img src = "img/logo_2.png">
    </div>
    <nav class = "header_nav">
        <a href = "#" id = "home">回到首頁</a>
        <a href = "#" id = "about_me">關於我</a>
        <a href = "#" id = "warning">注意事項</a>
    </nav>
    <div id = "tools">
        <form id = "search_bar">
            <input type = "search" placeholder = "請輸入關鍵字">
            <button><i class = "fa fa-search"></i></button>
        </form>
        <i class = "fa fa-fw fa-navicon" style = "font-size:200%" id = "burger"></i>
    </div>
</div>
<cpt-modal title = "注意事項">
    <div slot = "modal-container-slot">
        這裡的任何資源，除有特別聲明者，
        可於標明資料來源出處後自由使用。
    </div>
</cpt-modal>